/BTVNbuoi2/testnha/nbproject/private/
/testnhaa/nbproject/private/
/testnhaa/build/
/testnha/nbproject/private/
/testnha/build/
/testnhae/nbproject/private/
/testnhae/build/
/buoi2/nbproject/private/
/buoi2/build/
/codelearn/nbproject/private/
/codelearn/build/
/BTVNbuoi3/btvnbuoi3_bai1/nbproject/private/
/BTVNbuoi3/btvnbuoi3_bai1/build/
/BTVNbuoi3/btvnbuoi3_bai2/nbproject/private/
/BTVNbuoi3/btvnbuoi3_bai2/build/
/BTVNbuoi3/btvnbuoi3_bai3/nbproject/private/
/BTVNbuoi3/btvnbuoi3_bai3/build/
/BTVNbuoi3/btvnbuoi4_bai4/nbproject/private/
/BTVNbuoi3/btvnbuoi4_bai4/build/
/hitjava/testbuoi4/nbproject/private/
/hitjava/testbuoi4/build/
/BTVNbuoi4/btvnbuoi4_bai1/nbproject/private/
/BTVNbuoi4/btvnbuoi4_bai1/build/
/BTVNbuoi4/btvnbuoi4_bai2/nbproject/private/
/BTVNbuoi4/btvnbuoi4_bai3/nbproject/private/
